[submodule "plugins/redmine_simple_support"]
	path = plugins/redmine_simple_support
	url = git@github.com:splbio/redmine_simple_support.git
[submodule "plugins/customer_plugin"]
	path = plugins/customer_plugin
	url = git@github.com:splbio/customer_plugin.git
[submodule "plugins/redmine_power_subtasks"]
	path = plugins/redmine_power_subtasks
	url = git@github.com:splbio/redmine_power_subtasks.git
[submodule "plugins/chiliproject_custom_css_js"]
	path = plugins/chiliproject_custom_css_js
	url = https://github.com/edavis10/chiliproject_custom_css_js.git
